* {
    padding: 0;
    margin: 0;
}

header {
    background-color:rgba(167, 115, 47, 0.7);
    height:80px;
    width: 100%;

    /* position:relative; */
    position:fixed;
}

header a {
    color:white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header ul {
    position:absolute;
    right: 5vw;
    top: 0;
    line-height:80px;
}

header li {
    display:inline;
    margin-right: 3vw;
}

h1 {
    position:absolute;
    left:120px;
    top:0;
    line-height:80px;
    /* background-image:url(images/logo.svg);
    background-repeat:no-repeat;
    background-position-y: center; */
    width:210px;
    /* text-indent: -9999px; */
    color:white;
}

.news {
    background-color:antiquewhite;
    color:white;
    height:95vh;
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.news h2 {
    font-size: 60px;
}

.news p {
    color:antiquewhite;
    font-size: 18px;
    margin: 25px 0;
}

.news a {
    color:white;
    text-decoration: none;
    border: 1px solid rgb(232, 229, 229);
    padding: 10px 20px;
    border-radius: 5px;
}

.slogan {
    display:flex;
    background-color:#485622;
    color:white; 
    height:250px;
    text-align:center;
    justify-content:center;
    align-items:center;
    font-size:40px;
    line-height:1.8em;
}

footer {
    background-color:black;
    color:white; 
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:14px;
}

.shop {
    display: flex;
}

.shop img {
    width: 50%;
}
 
.info {
    width: 50%;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h2 {
    font-size:40px;
    margin-bottom: 30px;
}

.info p {
    text-align: center;
    line-height:2em;
}

.product {
    display:flex;
    background-color: antiquewhite;
    justify-content:space-between;
    align-items: center;
    padding: 100px 180px 80px;
}

.product div {
    width: 300px;
    text-align:center;
}

.product img {
    width: 100%;
    border-radius:10px;
}

.product h3 {
    font-size: 20px;
    margin: 20px 0;
}

.product p {
    font-size:14px;
    line-height:1.6em;
}

.newsletter {
    background-color:#485622;
    color:white;
    padding:60px 0;
    display:flex;
    flex-direction: column;
    align-items:center;
} 

.newsletter p {
    margin-bottom: 20px;
}

.newsletter input, .newsletter button {
    background-color:transparent;
    color:white;
    border:1px solid #949d9a;
    padding: 10px;
    border-radius: 5px;
}

.newsletter input {
    width: 200px;
    margin-right: 15px;
}

.newsletter button {
    width: 80px;
    cursor: pointer;
}

input:focus {
    outline:none;
    border-color:white;
}

.menu {
    display:none;
}

@media screen and (max-width: 1024px) {
    header ul {
        display: none;
    }

    .news h2 {
        font-size:40px;
    }
    
    .menu {
        display:block;
        background-color:transparent;
        color:white;
        font-size:35px;
        position:absolute;
        top:15px;
        left:20px;
        border:none;
        cursor:pointer;
    }

    .shop {
        flex-direction: column;
    }

    .shop img {
        width: 100%;
    }

    .info {
        width: 100%;
        padding:40px 0;
    }
    
    .info h2 {
        font-size: 30px;
    }

    .product {
        flex-direction: column;
        padding: 60px 0px;
    }

    .product div {
        margin-bottom: 30px;
    }
}

.multicol {
  column-count: 3;
}